-#.slideshow
  %img#1{:value => "1", :src => "zdiecia/tabletki.png"}/
  %img#2{:value => "2", :src => "zdiecia/3maseczki.png"}/
  %img#5{:value => "5", :src => "zdiecia/colagen_maseczka.png"}/
  %img#9{:value => "9", :src => "zdiecia/krem_na_dzien.png"}/
  %img#10{:value =>"10", :src => "zdiecia/krem_na_noc.png"}/
  %img#12{:value =>"12", :src => "zdiecia/pieciopak.png"}/
  %img#13{:value =>"13", :src => "zdiecia/pomadka.png"}/
  %img#14{:value =>"14", :src => "zdiecia/serum_wyszczuplajace.png"}/
  %img#17{:value =>"17", :src => "zdiecia/tusz.png"}/
  %img#19{:value =>"19", :src => "zdiecia/small-1.png"}/
  %img#20{:value =>"20", :src => "zdiecia/small-2.png"}/
  %img#21{:value =>"21", :src => "zdiecia/small-3.png"}/
  %img#24{:value =>"24", :src => "zdiecia/witamina_C.png"}/

#shadow-left
  %p 
    %span K
  olagen jest najważniejszym białkiem ludzkiego organizmu i odpowiada za sprężystość, jędrność, właściwe nawilżenie skóry oraz ciągłą odnowę jej komórek. Bierze udział w funkcjach życiowych niemal wszystkich układów, narządów i tkanek, jest głównym składnikiem włóknistym skóry, ścięgien, chrząstek, zębów i naczyń krwionośnych. Wraz z wiekiem organizm traci zdolność odbudowy kolagenu.
#shadow-right
  %p 
    %span D
  o zaburzeń w jego tworzeniu dochodzi również w sytuacji nasilonego jego niszczenia, przy ciągłych przeciążeniach (aktywność fizyczna, sport wyczynowy) oraz chorobach autoagresyjnych (zwyrodnienie stawów). Zaburzenia w metabolizmie kolagenu objawiają się nie tylko dysfunkcjami w obrębie aparatu ruchu (sztywność, bóle okołostawowe), ale również w tych tkankach i narządach, dla których kolagen i substancje bliźniacze pełnią funkcje strategiczne. 
#shadow-left
  %p 
    %span P
  rzy niedoborze kolagenu pojawiają się starcze zmiany ciała: zmarszczki, przebarwienia, cellulit, suchość skóry, matowienie paznokci i włosów, przykurczenie sylwetki. Najgroźniejsze dla zdrowia i życia są zaburzenia w układzie odpornościowym, gdzie kolagen sprawuje bardzo ważną funkcję obronną - ogranicza wnikanie i rozprzestrzenianie się ciał patogennych - toksyn środowiskowych, drobnoustrojów i komórek nowotworowych. Wszystkim tym przypadłościom można zapobiegać lub opóźniać ich pojawianie się uzupełniając kolagen.
#shadow-right
  %p 
    %span P
  róby stosowania w kosmetyce i implantologii kolagenu początkowo syntetycznego, a później bydlęcego, przynosiły sukces połowiczny przede wszystkim dlatego, że nie pozyskano dotąd kolagenu biologicznie aktywnego, o budowie łańcuchów aminokwasowych niemal identycznych jak u człowieka.
#shadow-left
  %p
    %span K
  rótka historia:
  %br/
  Kolagen biologicznie aktywny wynaleziono w Polsce! 
  Epokowe odkrycie w latach 80-tych naukowców Uniwersytetu Gdańskiego spowodowało przełom w światowej kosmetologii. Recepturę Kolagenu Naturalnego opracowano w 2003 roku dla spółki Colway. Stworzono pierwszy na świecie kosmetyk na bazie polskiego kolagenu rybiego, wykazujący obiektywne działanie naprawcze naskórka i nie tracący zarazem klucza do swojego sekretu - tzw. potrójnej helisy - w temperaturze pokojowej.  
#shadow-right
  %p 
  %span T
  ylko w przypadku tego produktu dopracowano formułę temperaturową pozwalającą na przechowywanie i transportowanie hydratu w przedziale od 5° do 26°, a nawet 28°C (stąd nazwa formuły Q 5-26). Tylko w wytwórstwie tego konkretnego kolagenu - całkowicie zrezygnowano ze stosowania konserwantów chemicznych.
#shadow-left
  %p 
    %span K
  olagen Naturalny w najnowszej formule to najczystszy roztwór białka (kolagenu z elastyną) z niewielką domieszką kwasu mlekowego i substancji emulgująco - stabilizującej (caprylyl glycol). Nie zawiera żadnych aromatów, barwników ani konserwantów, nie uczula, nie podrażnia, nie uzależnia skóry.
#shadow-right
  %p
    %span N
  r w Rejestrze Kosmetyków Wprowadzonych do Obrotu: RK/83374/2003 
  %br/
  Nr Atestu Państwowego Zakładu Higieny: HZ/7849/01/2003		
#shadow-left
  %p 
    %span E
  fekty stosowania:
  %ul
    %li regeneracja twarzy i dekoltu 
    %li głębokie nawilżenie i ujędrnienie skóry 
    %li opóźnienie procesów starzenia skóry 
    %li wyraźna poprawa gęstości, spoistości i pigmentacji skóry 
    %li spłycenie zmarszczek mimicznych 
    %li wygładzenie blizn, rozstępów, oparzeń 
    %li regeneracja i wzmocnienie włosów, zahamowanie siwienia i  wypadania
#shadow-right
  %p 
    %span W
  spomaganie leczenia:
  %ul
    %li choroby zwyrodnieniowej i reumatoidalnego zapalenia stawów 
    %li żylaków kończyn dolnych, hemoroidów 
    %li alergii skórnych, dermatoz (np. opryszczki), łuszczycy 
    %li stanów zapalnych skóry, oparzeń zwykłych i słonecznych 
    %li trądziku młodzieńczego i różowatego 
    %li tzw. "pajączków" - rozszerzonych naczyń krwionośnych 
    %li zamierania gruczołów łojowych i potowych
    %li chorób białka oka, zaćmy 
    %li paradontozy 
    %li marskości wątroby 

